body {
    background-color: rgb(144, 224, 239);
}

title {
    color:rgb(0, 0, 76)
}

td {
    text-align: center;
}

h1 {
    color: green;
}

h2 {
    color: rgb(0, 119, 182);
}

p {
    font-weight: bold;
    color: rgb(3, 4, 94);
}

table, th, td {
    border: 1px solid;
}