{% extends 'project/base.html' %}

{% block content %}
    <h2>All Appointments</h2>

    <h3>Upcoming Patient Appointments</h3>
    {% if new_appointments %}
        {% for appointment in new_appointments %}
            <h4>{{appointment.start}}</h4>
            {% if appointment.dentist == profile %}
                <p>Your appointment with patient {{appointment.patient.first_name}} {{appointment.patient.last_name}}</p>
            {% else %}
                <p>Dr. {{appointment.dentist.last_name}}'s' appointment with {{appointment.patient.first_name}} {{appointment.patient.last_name}}</p>
            {% endif %}
            <a href="{% url 'view_appointment' appointment.pk %}">View Appointment</a>
        {% endfor %}
    {% else %}
        <p>No new appointments available.</p>
    {% endif %}

    <hr>

    <h3>Previous Treatments</h3>
    {% if past_procedures %}
        {% for treatment in past_procedures %}
            <h4>{{treatment.appointment.start}}</h4>
            {% if treatment.appointment.dentist == profile %}
                <p>Your treatment with patient {{treatment.appointment.patient.first_name}} {{treatment.appointment.patient.last_name}}</p>
            {% else %}
                <p>Dr. {{treatment.appointment.dentist.last_name}}'s' appointment with {{treatment.appointment.patient.first_name}} {{treatment.appointment.patient.last_name}}</p>
            {% endif %}
            <a href="{% url 'view_treatment' treatment.pk %}">View Treatment</a>
        {% endfor %}
    {% else %}
        <p>No new appointments available.</p>
    {% endif %}

{% endblock %}
