{% extends 'project/base.html' %}

{% block content %}
    <h2>Appointment Details</h2>

    {% if user_type == 'patient' %}
        <main>
            {% include 'project/appointment_patient.html' %}
        </main>

    {% elif user_type == 'dentist' %}
        <main>
            {% include 'project/appointment_dentist.html' %}
        </main>
    {% endif %}

    {% if appointment.patient == profile or appointment.dentist == profile %}
        <a href="{% url 'delete_appointment' pk=appointment.pk %}" class="btn btn-primary">Delete Appointment</a>
    {% endif %}

{% endblock %}