<!-- project/templates/project/base_profile.html -->
{% extends 'project/base.html' %}

{% block content %}
    <h2>Your Profile Details</h2>

    {% if profile.image_file %}
        <img src="{{ profile.image_file.url }}" alt="Profile Image" class="profile-img">
    {% endif %}
    <h3>{{ profile.first_name }} {{ profile.last_name }}</h3>
    <p><strong>Phone:</strong> {{ profile.phone }}</p>
    <p><strong>Email:</strong> {{ profile.email }}</p>

    {% if user_type == 'dentist' %}
        <p><strong>Specialty:</strong> {{ dentist.speciality }}</p>
        <p><strong>Bio:</strong> {{ dentist.bio }}</p>
    {% elif user_type == 'patient' %}
        <p><strong>Insurance Provider:</strong> {{ patient.insurance_provider }}</p>
        <p><strong>Date of Birth:</strong> {{ patient.date_of_birth }}</p>
    {% endif %}

    <a href="{% url 'update_profile' pk=profile.pk %}" class="btn">Update Your Account</a>
{% endblock %}
