<!-- project/templates/project/base.html -->

{% load static %}
<head>
    <title>ToothSync</title>
    <link rel="stylesheet" href="{% static 'styles_mini_fb.css' %}">
</head>
<body>
    <header>
        <h1>ToothSync</h1>
        <nav>
            <a href="{% url 'dashboard' %}">Home</a>
            <a href="{% url 'show_all_dentists' %}">Dentists</a>
            <a href="{% url 'about' %}">About</a>
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>