<!-- project/templates/project/base.html -->
 
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToothSync</title>
    <link rel="stylesheet" href="{% static 'styles_project.css' %}">
</head>
<body>
    <header>
        <h1>ToothSync</h1>
        <nav class="nav-links"> <!-- Class for styling navigation css -->
            <a href="{% url 'dashboard' %}" class="btn">Home</a>
            <a href="{% url 'show_all_dentists' %}" class="btn">Dentists</a>
            <a href="{% url 'about' %}" class="btn">About</a>
        
            {% if request.user.is_authenticated %}
                {% if user_type == 'dentist' %}
                    <a href="{% url 'all_appointments' %}" class="btn">All Appointments</a>
                    <a href="{% url 'blocked_time_list' %}" class="btn">Blocked Times</a>
                {% endif %}
                <a href="{% url 'make_appointment' %}" class="btn">Make Appointment</a>
                <a href="{% url 'view_profile' pk=profile.pk %}" class="btn">My Profile</a>
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="btn">Login</a>
                <a href="{% url 'make_profile' %}?type=patient" class="btn">Create Patient</a>
                <a href="{% url 'make_profile' %}?type=dentist" class="btn">Create Dentist</a>
            {% endif %}
        </nav>            
        <hr>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>