<!-- project/templates/project/base.html -->

{% load static %}
<head>
    <title>ToothSync</title>
    <link rel="stylesheet" href="{% static 'styles_mini_fb.css' %}">
</head>
<body>
    <header>
        <h1>ToothSync</h1>
        <nav>
            <a href="{% url 'dashboard' %}">Home</a>
            <a href="{% url 'show_all_dentists' %}">Dentists</a>
            <a href="{% url 'about' %}">About</a>
            {% if request.user.is_authenticated %} <!-- URLs for users who are  logged in -->
                <a href="{% url 'make_appointment' %}">Make Appointment</a>
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" style="
                        background: none;
                        border: none;
                        color: inherit;
                        cursor: pointer;
                        padding: 0;
                        font: inherit;
                        text-decoration: none;">Logout</button>
                </form>
            {% else %} <!-- URLs for users who are not logged in -->
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>