<!-- project/templates/project/blocked_time.html -->

{% extends 'project/base.html' %}

{% block content %}
    <h2>Blocked Time Details</h2>

    <p><strong>Dentist:</strong> Dr. {{ blocked_time.dentist.first_name }} {{ blocked_time.dentist.last_name }}</p>
    <p><strong>Start Time:</strong> {{ blocked_time.start }}</p>
    <p><strong>End Time:</strong> {{ blocked_time.end }}</p>

    {% if blocked_time.reason %}
        <p><strong>Your Notes:</strong> {{ blocked_time.reason }}</p>
    {% else %}
        <p><strong>Your Notes:</strong> No reason provided.</p>
    {% endif %}

    {% if blocked_time.dentist == profile %}
        <a href="{% url 'update_blocked_time' pk=blocked_time.pk %}" class="btn">Update Blocked Time</a>
        <a href="{% url 'delete_blocked_time' pk=blocked_time.pk %}" class="btn">Delete Blocked Time Slot</a>
    {% endif %}
    <a href="{% url 'blocked_time_list' %}" class="btn">Back to List</a>
{% endblock %}
