{% extends 'project/base.html' %}

{% block content %}
<h1>Create a Dentist Profile</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <h2>User Information</h2>
    {{user_form.as_p}}
    {% if user_form.errors %}
        {{user_form.errors}}
    {% endif %}
    
    <h2>Profile Information</h2>
    {{form.as_p}}
    {% if form.errors %}
        {{form.errors}}
    {% endif %}
    
    <h2>Dental Information</h2>
    {{dentist_form.as_p}}
    {% if dentist_form.errors %}
        {{dentist_form.errors}}
    {% endif %}
      
    <input type="submit" value="Create Profile" class="btn btn-primary">
</form>
<form action="{% url 'dashboard' %}" method="GET">
    <input type="submit" value="Cancel">
</form>
{% endblock %}