<!-- delete_appointment.html -->
{% extends 'project/base.html' %}
{% block content %}
<h3>Are you sure you want to delete this appointment?</h3>
<p><strong>Dentist:</strong> Dr. {{ appointment.dentist.first_name }} {{ appointment.dentist.last_name }}</p>
<p><strong>Patient:</strong> {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</p>
<p><strong>Start Time:</strong> {{ appointment.start }}</p>
<p><strong>End Time:</strong> {{ appointment.end }}</p>
{% if appointment.notes %}<p><strong>Notes:</strong> {{ appointment.notes }}</p>{% endif %}
<form action="{% url 'delete_appointment' pk=appointment.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>
<form action="{% url 'view_appointment' pk=appointment.pk %}" method="GET">
    <input type="submit" value="Cancel">
</form>
{% endblock %}