<!-- front_page.html -->
{% extends 'project/base.html' %}
{% block content %}
    {% if user_type == 'patient' %}
        <h2>Welcome back to ToothSync, {{ profile.first_name }}</h2>
    {% elif user_type == 'dentist' %}
        <h2>Welcome back to ToothSync, Dr. {{ profile.last_name }}</h2>
    {% else %}
        <h2>Welcome to ToothSync</h2>
    {% endif %}
    <h3>Your trusted dental portal for patients and professionals.</h3>
    {% if not request.user.is_authenticated %}
        <p>Please login to your profile to view your personalized dashboard.</p>
    {% endif %}
    {% if user_type == 'patient' %}
        {% include 'project/patient_dash.html' %}
    {% elif user_type == 'dentist' %}
        {% include 'project/dentist_dash.html' %}
    {% endif %}
{% endblock %}