<!-- project/templates/project/login.html -->

{% extends 'project/base.html' %}
{% block content %}
<h1>Login</h1>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form }}
    <input type="hidden" name="next" value="{% url 'dashboard' %}">
    <input type="submit" value="Login">
</form>
<hr>
<p>Don't have an account?</p>
<a href="{% url 'make_profile' %}?type=patient" class="btn">Register Patient Account</a> 
<a href="{% url 'make_profile' %}?type=dentist" class="btn">Register Dentist Account</a> 
{% endblock %}
