{% extends 'project/base.html' %}

{% block content %}
<main class="grid-container">
    <article>
        <h2 style="text-align: center;">Dr. {{ dentist.first_name }} {{ dentist.last_name }}</h2>

        {% if dentist.image_file %}
            <img src="{{ dentist.image_file.url }}" alt="Dr. {{ dentist.first_name }}" width="300" class="center">
        {% endif %}

        <p><strong>Speciality:</strong> {{ dentist.speciality }}</p>
        <p><strong>Email:</strong> {{ dentist.email }}</p>
        <p>{{ dentist.bio }}</p>
    </article>
</main>
{% endblock %}
