<!-- project/templates/project/treatment.html -->

{% extends 'project/base.html' %}
{% block content %}
<h2>Treatment History Details</h2>
<p><strong>Dentist:</strong> Dr. {{ treatment.appointment.dentist.first_name }} {{ treatment.appointment.dentist.last_name }}</p>
<p><strong>Start Time:</strong> {{ treatment.appointment.start }}</p>
<p><strong>End Time:</strong> {{ treatment.appointment.end }}</p>
{% if treatment.appointment.notes %}
    <p><strong>Patient Notes:</strong> {{ treatment.appointment.notes }}</p>
{% endif %}
<hr>
<h3>Procedure Details</h3>
<p><strong>Procedure:</strong> {{ treatment.procedure }}</p>
<p><strong>Tooth Worked:</strong> {{ treatment.tooth_number }}</p>
<p><strong>Dentist Notes:</strong> {{ treatment.dentist_notes }}</p>
{% if user_type == 'dentist' and treatment.appointment.dentist == profile %}
    <a href="{% url 'update_treatment' treatment.pk %}" class="btn">Update Treatment</a>
    <a href="{% url 'delete_treatment' treatment.pk %}" class="btn">Delete Treatment</a>
{% endif %}

<a href="{% url 'dashboard' %}" class="btn">Back</a>

{% endblock %}
