<!-- project/update_appointment.html -->
{% extends 'project/base.html' %}

{% block content %}
<h1>Update {{treatment.appointment.patient.profile.first_name}} {{treatment.appointment.patient.profile.last_name}}'s Treatment</h1>

<!-- display the HTML form -->
<form action="{% url 'update_treatment' treatment.pk %}" method="POST">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>

    <input type="submit" name="submit" value="Submit">
</form>
<form action="{% url 'view_treatment' treatment.pk %}" method="GET">
    <input type="submit" value="Cancel">
</form>

{% endblock %}