<!-- mini_fb/templates/min_fb/create_status_form.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>You are adding a status update for {{profile.first_name}} {{profile.last_name}}</h2>

<form method = 'POST' enctype="multipart/form-data">
<!-- customized table version here -->

{% csrf_token %}
    <table>
    {% for field in form %}
    <tr>
        <th>{{field.name}}</th>
        <td>{{field}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>
            <input type="file" name = "files" multiple />
        </td>
        <td>
            <input type='submit' name = 'Add Status Update!' value= 'Add Status Update!'>
        </td>
    </tr>
    </table>
</form>

{% endblock %}