<!-- mini_fb/templates/mini_fb/show_profile.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}
<ul> <!-- Link to create status update -->
    <li><a href="{% url 'create_status' profile.pk %}">Create Status Update</a></li>
</ul>

<main class="grid-container">
    
    <article class="featured">
        {% if profile.image_url %} <!-- If there is a picture associated with the person, add it to the webpage -->
		    <img src="{{profile.image_url}}" alt="{{profile.image_url}}">
		{% endif %}
        
        <div>
            <h2>{{profile.first_name}} {{profile.last_name}}</h2>
            <h3>Born in: {{profile.city}}</h3>
            <p>Best reached at: {{profile.email_address}}</p>    
        </div>
        <h2>Recent Status Post</h2>
        {% for message in profile.get_status_messages %}
            <div>
                <strong>At {{message.timestamp}}</strong>
                <p>
                    {{message.message}}
                    <br>
                    {% for img in message.get_images %}
                        <br>    
                        <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}'>
                    {% endfor %} 
                    <li><a href="{% url 'update_status_message' message.pk %}">Update Status Message</a></li>
                    <li><a href="{% url 'delete_status_message' message.pk %}">Delete Status Message</a></li>
                </p>
            </div>
        {% endfor %}
    </article>

</main>
{% endblock %}