<!-- templates/show_all_profiles.html -->

{% extends 'mini_fb/base.html' %}
<h1>Showing all Profiles</h1>

{% block content %}
<main class="grid-container">
    <table>
    {% for p in profiles %}

    <article>
        <tr> <!-- Create a column for pictures and column for descriptions -->
            <td>
            {% if p.profile_image_url %}
                <a href="{% url 'show_profile' p.pk %}">
                <img src="{{p.profile_image_url}}" alt="{{profile.profile_image_url}}">
                </a>
            {% endif %}
            </td>
            <td>
                <div>
                    <h2>{{p.first_name}} {{p.last_name}}</h2>
                    <h3>Born in: {{p.city}}</h3>
                    <p>Best reached at: {{p.email_address}}</p>
                </div>
            </td>
        </tr>
    </article>

    {% endfor %}
    </table>

</main>
{% endblock %}