<!-- mini_fb/templates/mini_fb/show_profile.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}
<ul> <!-- Link to update profile -->
    <li><a href="{% url 'update_profile' profile.pk %}">Update Profile</a></li>
 <!-- Link to create status update -->
    <li><a href="{% url 'create_status' profile.pk %}">Create Status Update</a></li>
<!-- Link to news feed -->
    <li><a href="{% url 'news_feed' profile.pk %}">View News Feed</a></li>
</ul>

<main class="grid-container">
    
    <article class="featured">
        {% if profile.image_url %} <!-- If there is a picture associated with the person, add it to the webpage -->
		    <img src="{{profile.image_url}}" alt="{{profile.image_url}}">
		{% endif %}
        
        <div>
            <h2>{{profile.first_name}} {{profile.last_name}}</h2>
            <h3>Born in: {{profile.city}}</h3>
            <p>Best reached at: {{profile.email_address}}</p>    
        </div>
        <h2>Recent Status Post</h2>
        {% for message in profile.get_status_messages %}
            <div>
                <p>
                    {{message.message}}
                    <br>
                    {% if message.get_images %}
                        <table>
                            <tr class="invisible">
                            {% for img in message.get_images %}
                                <br>    
                                <td class="invisible"><img src='{{img.image_file.url}}' alt='{{img.image_file.url}}'  
                                    width="200"
                                    height=auto></td>
                            {% endfor %} 
                            </tr>
                        </table>
                    {% endif %}
                    <p><small>Posted at {{message.timestamp}}</small></p>
                    <li><a href="{% url 'update_status_message' message.pk %}">Update Status Message</a></li>
                    <li><a href="{% url 'delete_status_message' message.pk %}">Delete Status Message</a></li>
                </p>
            </div>
            <hr>
        {% endfor %}
        <h2>{{profile.first_name}} {{profile.last_name}}'s friends</h2>
        {% with profile.get_friends as friends %} <!-- Storing the value of friends for the if statement -->
            {% if friends %}
                <table class="invisible">
                    <tr>
                        {% for friend_profile in friends %}
                            {% if friend_profile.image_url %}
                            <td class="invisible">
                                <a href="{% url 'show_profile' pk=friend_profile.pk %}">
                                <img src="{{friend_profile.image_url}}" alt="{{friend_profile.image_url}}"
                                    width="474"
                                    height="355">
                                </a>
                            </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr class="invisible">
                        {% for friend_profile in friends %}
                            <td class="invisible">{{friend_profile.first_name}} {{friend_profile.last_name}}</td>
                        {% endfor %}
                    </tr>
                </table>
            {% endif %}
        {% endwith %}
        <br>
        <a href="{% url 'friend_suggestions' profile.pk %}">See Friend Suggestions</a>
    </article>
</main>
{% endblock %}