<!-- templates/show_all_profiles.html -->

{% extends 'mini_fb/base.html' %}
<h1>Showing all Profiles</h1>

{% block content %}
<main class="grid-container">
    <table>
    {% for p in profiles %}
    <article>
        <tr> <!-- Create a column for pictures and column for descriptions -->
            <td>
            {% if p.image_url %} <!-- If there is an image assocaited with the Profile, display it as a clickable link -->
                <a href="{% url 'show_profile' pk=p.pk %}">
                <img src="{{p.image_url}}" alt="{{profile.image_url}}"
                width="474"
                height="355">
                </a>
            {% endif %}
            </td>
            <td>
                <div> <!-- Access the person in the for looping through the list of Profiles -->
                    <h2>{{p.first_name}} {{p.last_name}}</h2>
                    <h3>Born in: {{p.city}}</h3>
                </div>
            </td>
        </tr>
    </article>

    {% endfor %}
    </table>
</main>
{% endblock %}