{% extends 'quotes/base.html' %}

{% block content %}

<div>
    <h1>About</h1>
    
    <p>Dr. Seuss, whose real name was Theodor Seuss Geisel, was a beloved storyteller and artist who filled the world with tales and unforgettable characters. Through books like The Cat in the Hat and Oh, the Places You’ll Go!, his  words and vibrant illustrations continue to inspire readers to embrace curiosity and find wonder in the world around them. Dr. Seuss’s stories remind us that life is an adventure best lived with creativity, humor, and an open heart.</p>
    <p>My name is Kenneth Tong, a senior studying Biology and Computer Science, persuing the Pre-Dental path</p>
    <br>
    <img src="https://cs-people.bu.edu/ktong22/QuoteImages/seussbook.jpg" alt="Dr. Seuss Book" class="center">

</div>

{% endblock %}